/* tags Gerais */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(../img/fundo-topo.jpg);
    text-align: center;
    padding: 10px 0;
}

header,
h1 {
    margin: 0;
    height: 84px;
}

nav {
    padding: 15px 0;
    text-align: center;
    margin-top: 10px;
}

nav li {
    display: inline;
    background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 30px;
    margin-right: 10px;

}

nav,
a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    color: #6dd432;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

form {
    width: 380px;
}

form input,
form textarea {
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin: 5px 0 10px 0;
    border-radius: 4px;
}

iframe {
    width: 100;
}

#itemContatos {
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

#produto .flex-conteiner,
#contato .flex-conteiner {
    margin: 43px;
}

.Fundo-verde {
    background-color: #bdff9c;
}

.conteiner {
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flex-conteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-conteiner .col {
    width: 430px;
}

.produto {
    width: 235px;
}

.produto figure {
    border: 1px solid #c4c4c4;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
}

.produto figure img {
    vertical-align: middle;
}

.texto-centralizado {
    text-align: center;
}

.btn-pata {
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}